section {
    padding-top: 2rem;
}

.about__container {
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 15%;

}

.about__content {
    margin: 2rem 0 1.6rem;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: #2c2c6c;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.6rem;
    text-align: center;
    transition: all 400ms ease;
}

.about__card:hover {
    background: transparent;
    border-color: rgba(77, 181, 255, 0.4);
}

.about__icon {
    color: #4db5ff;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
    cursor: context-menu;
}

.about__card small {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.6);
}

.about__bio {
    margin: 2rem 0 1.6rem;
    text-align: justify;

}


.about__bio p {
    color: rgba(255, 255, 255, 0.6);
}

/*-----------------------------mediumdevices---------*/
@media screen and (max-width:1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__bio p {
        margin: 1rem 0 1.5rem;
    }



}

/*-----------------------------smalldevices---------*/

@media screen and (max-width:600px) {
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__bio p {
        margin: 1.5rem 0;
    }


}